<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="3" name="Suite" parallel="tests" configfailurepolicy="continue">
	<test name="Chrome Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="objectRepository.TestNg_hack" />
		</classes>
	</test>
	<test name="Firefox Test">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="objectRepository.TestNg_hack" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
